<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>

    <script src="../static/water.json"></script>
    <script src="../static/weather.json"></script>
    <script src="../static/animal.json"></script>

    <!-- css include format
    <link rel="stylesheet" href="{{url_for('static',filename='get/style.css')}}"> 
-->
    <link rel="stylesheet" href="./lib/css/module.css">
</head>

<body>

    <script src="../static/script.js"></script>
    <div>
        <h1>AQUA INSIGHT - DIVE DEEP INTO YOUR AQUATIC ENVIRONMENT</h1>
        <p>Pleas Enter a Address/landmark</p>
        <p>If address or landmark isn't in Taiwan, May don't have great Information</p>
        <p>And wait for 30 sec ~ 1 min</p>

    </div>
    <form method="get" action="/search">
        <input type="text" name="address">

        <br>
        <button type="submit">submit</button>

    </form>

    <div id="weather">
        <h1>Weather</h1>
    </div>

    <div id="water">
        <h1>River</h1>
    </div>

    <div id="animal">
        <h1>Species Occurrence Information</h1>
    </div>

</body>

</html>